*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(17,19,21);
    font-family: 'Inter', sans-serif;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 1200px;
}
.left-container{
    display: flex;
    flex-direction: column;   
}
aside{
    background-color: rgb(12,14,16);
    text-align: center;
    color: white;
    width: 230px;
    height: 100vh;
    position: fixed;
}
aside img{
    position: relative;
    right: 10px;
    width: 200px;
    height: 200px;
}
.logo{
    display: flex;
    flex-direction: column;
    
}
.para{
    padding: 5px;
}
.custom-hr{
    margin-top: 20px;
    border: 0;
    border-top: 1px solid white;
}
.nav-links{
    margin-top: 15px;
}
.links{
    display: flex;
    margin-top: 10px;
    padding-left:20px;
    flex-flow: start;
}
.info-container{
    margin-top: 15px;
}
.info{
    display: flex;
    flex-flow: start;
    margin-top: 10px;
    padding-left: 20px;
}
main{
    position: relative;
    left: 19%;
}
.container{
    display: flex;
    flex-direction: column;
}
.top-section{
    display: flex;
    align-items: center;
    
}
#search-box{
    height: 50px;
    width: 70%;
    padding: 10px;
    margin-left: 10px;
}
input[type="text"]{
    width: 100%;
    padding-left:15px;
    height: 100%;
    background-color: rgb(39, 42, 48);
    border: none;
    color: white;
}
#btn{
    padding: 8px;
}
button{
    width: 100px;
    height: 35px;
    margin-left: 10px;
    background-color: rgb(225, 36, 36);
    color: white;
}
#cart{
    display: flex;
    align-items: center;
    justify-content: center;
}   
#cart img{
    margin-left: 8px;
}
a{
    text-decoration-line: none;
    color: white;
}
.img1{
    width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    height:200px;
}
.abc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding-top: 10px;
}
.abc button{
    padding: 5px 10px;
    background-color: #ff2424;
    border: none;
}
.menu-img{
    display: flex;
    justify-content: center;
}
.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 550px;
    overflow-y: auto;
}
.menupart{
    background-color: #191d20;
    color: white;
    margin: 5px;
    border-radius: 10px;
}
.menutag{
    color: white;
    text-decoration: none;
   margin-left: 20px;
   margin-bottom: 20px;
}
.menu-text{
    margin: 20px 0px 10px 20px;
}
.menu-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-addcart{
    margin-right: 20px;
}
.btn1{
    border: none;
    background-color: #191d20;
    cursor: pointer;
}

.model-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top:0 ;left: 0;
    background-color: rgba(0, 0, 0, .3);
    transform: scale(0);
}
.model-container .model {
    height: 200px;
    max-width: 350px;
    margin: 0 10px;
    padding: 20px;
    background:#fff;
    border-radius: 5px;
    text-align: center;
    position: relative;
}
.model-container .model > .bxs-heart {
    font-size: 100px;
    color: #f9ca24;
    padding-bottom: 50px;
    margin: 10px 0;
    text-shadow: 0 3px 5px rgba(0, 0, 0, .3) ,
    30px 30px 0 #ccc,
    -30px 30px 0 #333;

}
.model-container .model > h3 {
    color: #333;
    font-size: 25px;
}

.model-container .model > p{
   color: #666;
   margin: 20px 0;
}
.model-container .model button {
    height: 35px;
    width: 120px;
    background: #333;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}
.model-container .model button:hover {
    opacity: .8;
}
.model-container .model .bx-x{
    position: absolute;
    top: 15px;right: 15px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}